body {
    background-image: url(./img/old-paper-texture-4k-paper-background-paper-textures-old-paper.jpg);
    background-size: auto;
}

#vecihi {
    width: 15vw;
    display: inline-block;
    overflow: auto;
    float: left;
    padding: 1%;
}

#bio {
    margin: auto;
    width: 60%;
    background-color: rgba(254, 255, 206, 0.7);
    border: 5px solid rgb(149, 148, 145);
    padding: 3%;
}

p {
    font-family: 'Noto Serif', serif;
    font-size: 1.3rem;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

#logo {
    width: 5vh;
}

#logo1 {
    width: 5vh;
    transform: scaleX(-1);
}